/** Bible || Container || ImageBg */
/*! Container */
.container {
    direction: rtl;
}

/*! ImageBg */
.bg {
    display: flex;
    justify-content: center;
    margin: 80px 0 var(--mg-8) 0;
}

.bgImage {
    width: 80%;
    height: auto;
    border-radius: 15px;
}

/** Content || Old Books || New Books */
/* ! Content */
.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--themeEl);
}

.title h3 {
    margin-bottom: var(--mg-8);
    font-size: var(--fs-24);
    font-family: "Hagrid", sans-serif;
}

.title p {
    font-size: var(--fs-16);
    font-family: "Cairo", sans-serif;
    color: var(--mutedColor);
}

.title p span {
    color: var(--main-color);
}

.icon {
    font-size: var(--fs-24);
    color: var(--themeEl);
    cursor: pointer;
    transition: 400ms;
}

.bibleContainer {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: space-evenly;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.bibleContainer::-webkit-scrollbar {
    height: 8px;
    background: var(--mutedColor);
    border-radius: var(--br-8);
}

.bibleContainer::-webkit-scrollbar-thumb {
    background: black;
    border-radius: var(--br-8);
}

.showAll {
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.image {
    transition: all 300ms;
    transform: scale(0.9);
    width: 200px !important;
    height: 200px !important;
    border-radius: var(--br-4);
}

.image:hover {
    transform: scale(1);
}

/*! RESPONSIVE */
@media (max-width: 1024px) {
    .bg {
        margin: 5rem 0 2rem 0;
    }

    .bgImage {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 1rem;
    }

    .bibleContainer {
        gap: .25rem;
    }

    .image {
        width: 150px !important;
        height: 150px !important;
    }
}

@media (max-width: 768px) {
    .head {
        padding: 0 var(--pd-8);
    }

    .title h3 {
        font-size: var(--fs-20);
    }

    .title p {
        font-size: var(--fs-14);
    }

    .icon {
        font-size: var(--fs-20);
    }

}