.introduction {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: var(--mg-90);
}

.imagesContainer {
    height: 500px;
    position: relative;
}

.title {
    text-align: center;
    user-select: none;
    font-family: "Hagrid", sans-serif;
    color: var(--themeEl);
}

.titleHead {
    font-size: var(--fs-16);
    font-weight: 700;
    margin-bottom: var(--mg-8);
    font-family: "Cairo", sans-serif;
}

.mainTitle {
    font-size: var(--fs-36);
    margin-bottom: var(--mg-20);
}

.secondTitle {
    font-size: var(--fs-16);
    font-family: "Cairo", sans-serif;
    margin: var(--mg-8) 0;
    font-weight: 600;
}

/*! Responsive  */
@media (max-width: 768px) {
    .introduction {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .introduction   {
        gap: 20px;
    }

     
    .titleHead {
        font-size: var(--fs-14);
    }
    .mainTitle {
        font-size: var(--fs-28);
    }

    .secondTitle {
        font-size: var(--fs-14);
    }
}