.footer {
    direction: rtl;
    background-image: radial-gradient(circle 449px at 100% 100%, rgb(4, 0, 255) 0%, rgb(2, 8, 3) 100%);
    padding: var(--pd-64) var(--pd-64) var(--pd-4);
    position: sticky;
    bottom: 0;
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.leftSection {
    flex: 1;
    min-width: 300px;
}

.heading {
    font-family: "Hagrid", serif;
    font-size: var(--fs-32);
    line-height: 1.5;
    color: #ffffff;
}

.rightSection {
    flex: 1;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 150px;
}

.columnTitle {
    font-family: "Hagrid", serif;
    font-size: var(--fs-16);
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.linkList {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.link {
    font-family: "Cairo", sans-serif;
    font-size: var(--fs-16);
    color: var(--grayColor);
    transition: color 0.2s ease;
}

.link:hover {
    color: #ffffff;
}

.copyright {
    font-size: var(--fs-18);
    color: var(--grayColor);
    font-family: "Hagrid", serif;
    text-align: center;
    padding: var(--pd-16) 0;
}

.copyright a {
    color: #7779ff;
}

.copyright a:hover {
    color: #ffffff;
    transition: all .5s ease-in-out;
}

/*==========================
    MEDIA SCREEN
===========================*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .heading {
        font-size: 2rem;
    }

    .rightSection {
        gap: 2rem;
    }
}

@media (max-width: 450px) {
    .footer {
        padding: 2rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .trialButton {
        padding: .8rem 1.5rem;
        font-size: 0.7rem;
    }

    .copyright {
        font-size: 16px;
    }
}