.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    animation: fadeIn .2s ease;
}

.modal {
    width: 500px;
    max-width: 92%;
    height: 50vh;
    background: var(--modalSearchBg);
    border-radius: var(--br-8);
    padding: var(--pd-16);
    box-shadow: 0 30px 80px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    animation: pop .22s ease;
    font-family: "Cairo", sans-serif;
}

.inputWrap {
    display: flex;
    align-items: center;
    padding: 0 var(--pd-16);
    margin-bottom: var(--mg-16);
    border-radius: var(--br-8);
    border: 1px solid var(--buttonBorder);
}

.input {
    width: 100%;
    height: var(--height-40);
    border: none;
    background: none;
    padding: 0 var(--pd-12);
    font-size: var(--fs-16);
    outline: none;
    font-family: "Cairo", sans-serif;
}

.searchIcon {
    opacity: .6;
    color: var(--themeEl);
    margin-left: 2px;
}

.results {
    overflow: auto;
}

.results::-webkit-scrollbar {
    width: 8px;
}

.results::-webkit-scrollbar-track {
    background: var(--mutedColor);
    border-radius: 2px;
}

.results::-webkit-scrollbar-thumb {
    background: var(--themeEl);
    border-radius: 2px;
}

.category {
    margin-bottom: 16px;
}

.catTitle {
    font-size: var(--fs-md);
    color: var(--mutedColor);
    margin-bottom: 8px;
}

.item {
    display: flex;
    width: 100%;
    padding: 10px 12px;
    border-radius: var(--br-4);
    border: none;
    background:  ;
    cursor: pointer;
    transition: .18s;
    font-size: var(--fs-16);
    font-family: "Cairo", sans-serif;
    color: var(--themeEl);
}

.item:hover {
    background-color: var(--navColorHover);
}

.icon {
    font-size: var(--fs-20);
    margin-left: var(--mg-8);
    color: var(--mainColor);
}

.empty {
    text-align: center;
    padding: 20px;
    color: var(--mutedColor);
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes pop {
    from {
        transform: scale(.96);
        opacity: .6
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}